<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<footer class="ui inverted vertical segment m-opacity-tiny ">
    <div class="ui center aligned container m-padded-tb-massive">
        <div class="ui mobile reserved secondary stackable inverted divided grid">
            <div class="three wide column ">
                <img src="../static/img/Wechat.png" class="ui rounded image" style="width: 150px" alt="">

            </div>
            <div class="four wide column">
                <h4 class="class ui inverted header">最新博客</h4>
                <div class="class ui inverted link list">
                    <a href="#" class="item">用户故事(User Story)</a>
                    <a href="#" class="item">用户故事(User Story)</a>
                    <a href="#" class="item">用户故事(User Story)</a>
                </div>
            </div>
            <div class="four wide column">
                <h4 class="class ui inverted header">联系我</h4>
                <div class="class ui inverted link list">
                    <a href="#" class="item">Email: 2360484952@qq.com</a>
                    <a href="#" class="item">QQ: 2360484952</a>
                </div>
            </div>
            <div class="five wide column">
                <h4 class="class ui inverted header">微风</h4>
                <div class="class ui inverted link list">
                    <a href="#" class="item">这是我的个人博客、记录学习进度和关于编程、写作、思考相关的任何内容...</a>
                </div>
            </div>
        </div>
        <div class="ui inverted section divider"></div>
        <p class="m-opacity-tiny">Copyright @ 2020-2021 WeFon Designed by 微风</p>
    </div>

</footer>
</body>
</html>