<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="_fragments :: head(~{::title})">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>首页</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
    <link rel="stylesheet" href="../static/css/me.css ">
    <script src="../static/js/emoji.list.js"></script>
</head>
<body>
    <!--导航-->
    <!--导航-->
    <nav th:replace="_fragments :: menu(1)" class="ui inverted attached segment m-padded-tb-mini m-shadow-small" >
        <div class="ui container">
            <div class="ui inverted secondary stackable menu">
                <h2 class="ui teal header item">Blog</h2>
                <a href="#" class=" m-item item m-mobile-hide"><i class="mini home icon"></i>首页</a>
                <a href="#" class="m-item item m-mobile-hide"><i class="mini idea icon"></i>分类</a>
                <a href="#" class="m-item item m-mobile-hide"><i class="mini tags icon"></i>标签</a>
                <a href="#" class="m-item item m-mobile-hide"><i class="mini clone icon"></i>归档</a>
                <a href="#" class="m-item item m-mobile-hide"><i class="mini info icon"></i>关于我</a>
                <div class="right m-item item m-mobile-hide">
                    <div class="ui icon inverted transparent input m-margin-tb-tiny">
                        <input type="text" placeholder="Search....">
                        <i class="search link icon"></i>
                    </div>
                </div>
            </div>
        </div>
        <a href="#" class="ui menu toggle black icon button m-right-top m-mobile-show">
            <i class="sidebar icon"></i>
        </a>
    </nav>


    <!--中间内容-->
    <div class="m-container m-padded-tb-large m-opacity">
        <div class="class ui container">
        <div class="ui stackable grid">
            <!--左边博客列表-->
            <div class="eleven wide column">
                <!--header-->
                <div class="ui top attached segment">
                    <div class="ui middle aligned two column grid">
                        <div class="column">
                            <h3 class="ui teal header">博客</h3>
                        </div>
                        <div class="right aligned column">
                            共<h3 class="ui orange header m-inline-block m-text-thin" th:text="${page.totalElements}">14</h3>篇
                        </div>
                    </div>
                </div>
            <!--content-->
                <div class="ui attached segment">
                    <div class="ui padded vertical segment m-padded-tb-large" th:each="blog : ${page.content}">
                        <div class="ui mobile reversed stackable grid">
                            <div class="eleven wide column">
                                <h3 class="ui header">
                                    <a href="#" th:href="@{/blog/{id}(id=${blog.id})}" target="_blank" th:text="|${blog.title}" class="m-black"> ZooKeeper</a>

                                </h3>
                                <p  class="m-text" th:text="|${blog.description}......|">Zookeeper 分布式服务框架是Apache Hadoop 的一个子项目，它主要是用来解决分布
                                    式应用中经常遇到的一些数据管理问题，如：分布式注册中心，分布式锁，统一命名服
                                    务、状态同步服务、集群管理、分布式应用配置项的管理等等......</p>
                                <div class="ui  grid">
                                <div class="eleven wide column">
                                    <div class="ui mini horizontal link list">
                                        <div class="item">
                                            <img src="../static/img/avatar.png" alt="" class="ui avatar image" th:src="@{${blog.user.avatar}}">
                                            <div class="content">
                                                <a href="#" class="header" th:text="${blog.user.nickname}">微风</a>
                                            </div>
                                        </div>
                                        <div class="item">
                                            <i class="calendar icon"></i> <span th:text="${#dates.format(blog.updateTime,'yyyy-MM-dd')}">2021-3-14</span>
                                        </div>
                                        <div class="item">
                                            <i class="eye icon"></i><span th:text="${blog.views}"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="right aligned five wide column">
                                    <a href="#" target="_blank" class="ui teal basic label m-padded-tb-small" th:text="${blog.type.name}">Java框架</a>
                                </div>
                            </div>
                            </div>
                            <div class="five wide column">
                                <a href="#" target="_blank" th:href="@{/blog/{id}(id=${blog.id})}">
                                    <img src="../static/img/blogFirstPicture53.jpg" th:src="@{${blog.firstPicture}}" alt="" class="ui rounded image" width="200px">
                                </a>
                            </div>

                        </div>
                    </div>


                </div>
<!--                footer -->
                <div class="ui bottom attached segment" th:if="${page.totalPages}>1">
                    <div class="ui middle aligned two column  grid">
                        <div class="column">
                            <a href="#" th:href="@{/page=${page.number}-1}" th:unless="${page.first}" class="ui teal basic mini button">上一页</a>
                        </div>
                        <div class="right aligned column">
                            <a href="#" th:href="@{/page=${page.number}+1}" th:unless="${page.last}" class="ui teal basic mini button">下一页</a>
                        </div>
                    </div>
                </div>
            </div>
<!--            右边-->
            <div class="five wide column">
<!--                分类-->
                <div class="ui segments ">
                    <div class="ui secondary segment">
                        <div class="ui two column grid">
                            <div class="column">
                                <i class="idea icon"></i>分类
                            </div>
                            <div class="right aligned column">
                                <a href="" th:href="@{types/-1}" class="">more <i class="angle double right icon"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="ui teal segment">
                        <div class="ui fluid vertical menu">
                            <a href="#" th:href="@{/types/{id}(id=${type.id})}" th:each="type : ${types}"  class="item">
                                <span th:text="${type.name}">学习日志</span>
                                <div class="ui teal basic left pointing label" th:text="${#arrays.length(type.blogs)}">13</div>
                            </a>

                        </div>
                    </div>

                </div>
<!--                标签-->
                <div class="ui segments m-margin-top-large">
                    <div class="ui secondary segment">
                        <div class="ui two column grid">
                            <div class="column">
                                <i class="idea icon"></i>标签
                            </div>
                            <div class="right aligned column">
                                <a href="#" th:href="@{tags/-1}" class="">more <i class="angle double right icon"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="ui teal segment">
                        <a href="#" th:href="@{/tags/{id}(id=${tag.id})}"  th:each="tag : ${tags}"target="_blank" class="ui teal basic left pointing label m-margin-tb-tiny">方法论
                            <span th:text="${tag.name}">方法论</span> <div class="detail" th:text="${#arrays.length(tag.blogs)}">23</div>
                        </a>

                    </div>

                </div>
<!--                最新推荐-->
                <div class="ui segments m-margin-top-large" >
                    <div class="ui secondary segment m-text ">
                        <i class="bookmark icon"></i>最新推荐
                    </div>
                    <div class="ui segment " th:each="blog : ${recommendBlogs}">
                        <a href="#" th:href="@{/blog/{id}(id=${blog.id})}" target="_blank" class="m-black m-text-thin" th:text="${blog.title}">用户故事（User Story）</a>
                    </div>
                    <div class="ui segment">
                        <a href="#">MyCat——数据库分库分表中间件r</a>
                    </div><div class="ui segment">
                    <a href="#">网站接入QQ登录</a>
                </div><div class="ui segment">
                    <a href="#">linux云服务器上部署web项目</a>
                </div><div class="ui segment">
                    <a href="#">面试题汇总</a>
                </div>
                    </div>
<!--                二维码-->
                <h4 class="ui horizontal divider inverted header m-margin-top-large">扫码关注我</h4>
                <div class="ui centered card " style="width: 180px ">
                    <img src="../static/img/wechat.png" th:src="@{/img/wechat.png}" class="ui rounded image" alt="" >
                </div>
                </div>
            </div>
        </div>
        </div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<!--底部声明-->

    <footer th:replace="_fragments::footer" class="ui inverted vertical segment m-opacity-tiny ">

        <div class="ui center aligned container m-padded-tb-massive">
            <div class="ui mobile reserved secondary stackable inverted divided grid">
                <div class="three wide column ">
                    <img src="../static/img/wechat.png" th:src="@{/img/wechat.png}" class="ui rounded image" style="width: 150px" alt="">

                </div>
                <div class="four wide column">
                    <h4 class="class ui inverted header">最新博客</h4>
                    <div class="class ui inverted link list">
                        <a href="#" class="item">用户故事(User Story)</a>
                        <a href="#" class="item">用户故事(User Story)</a>
                        <a href="#" class="item">用户故事(User Story)</a>
                    </div>
                </div>
                <div class="four wide column">
                    <h4 class="class ui inverted header">联系我</h4>
                    <div class="class ui inverted link list">
                        <a href="#" class="item">Email: 2360484952@qq.com</a>
                        <a href="#" class="item">QQ: 2360484952</a>
                    </div>
                </div>
                <div class="five wide column">
                    <h4 class="class ui inverted header">微风</h4>
                    <div class="class ui inverted link list">
                        <a href="#" class="item">这是我的个人博客、记录学习进度和关于编程、写作、思考相关的任何内容...</a>
                    </div>
                </div>
            </div>
            <div class="ui inverted section divider"></div>
            <p class="m-opacity-tiny">Copyright @ 2020-2021 WeFon Designed by 微风</p>
        </div>

    </footer>

<!--/*/<th:block th:replace="_fragments :: script">/*/-->

    <script>
        $('.menu.toggle').click(function (){
            $('.m-item').toggleClass('m-mobile-hide');
        });
        $('.ui.dropdown').dropdown({
            on : 'hover'
        });
    </script>
<!--/*/</th:block>/*/-->
</body>
</html>