<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="admin/_fragments :: head(~{::title})">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>博客管理</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <script src="../../static/js/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
    <link rel="stylesheet" href="../../static/css/me.css" >

</head>
<body>
<!--导航-->
<nav th:replace="admin/_fragments::menu(0)" class="ui inverted attached segment m-padded-tb-mini m-opacity-tiny" >

    <div class="ui container">
        <div class="ui inverted secondary stackable menu">
            <h2 class="ui teal header item">微风</h2>
            <a href="#" class="active m-item mobile m-mobile-hide item"><i class="home icon"></i>首页</a>
            <a href="#" class="m-item mobile m-mobile-hide item" th:href="@{admin/types}"><i class="idea icon"></i>分类</a>
            <a href="#" class="m-item mobile m-mobile-hide item"><i class="tags icon"></i>标签</a>
            <!--            下拉菜单显示不出来待优化-->
            <div class="right m-item mobile m-mobile-hide menu">
                <div class="ui select dropdown item">
                    <div class="text">
                        <img class="ui avatar image" src="../../static/img/avatar/埃罗芒阿.png"/>微风
                    </div>
                    <i class="dropdown icon"></i>
                    <div class="menu">
                        <a href="#" th:href="@{/admin/logout}" class="item" >注销</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a href="#" class="ui menu toggle black icon button m-top-right m-mobile-show">
        <i class="sidebar icon"></i>
    </a>

</nav>

<!--二级导航-->
<!--<div class="ui attached  inverted pointing menu m-opacity-tiny">-->
<!--    <div class="ui container">-->

<!--        <a href="#" class="item">发布</a>-->
<!--        <a href="#" class="teal active item">列表</a>-->
<!--    </div>-->

<!--</div>-->
<!--中间内容-->
<div class="m-container-small m-padded-tb-big m-opacity">
    <div class="ui container">
        <div class="ui success large message">
            <h3>Hi,<span s th:text="${session.user.nickname}">微风</span></h3>
            <p>欢迎登录</p>
        </div>
        <img src="../../static/img/wind.JPG" alt="" cl  ass="ui rounded bordered fluid image">
    </div>
</div>


<!--底部声明-->
<footer th:replace="admin/_fragments :: footer" class="ui inverted vertical segment m-opacity-tiny ">
    <div class="ui center aligned container m-padded-tb-massive">
        <div class="ui mobile reserved secondary stackable inverted divided grid">
            <div class="three wide column ">
                <img src="../../static/img/wechat.png" class="ui rounded image" style="width: 150px" alt="">

            </div>
            <div class="four wide column">
                <h4 class="class ui inverted header">最新博客</h4>
                <div class="class ui inverted link list">
                    <a href="#" class="item">用户故事(User Story)</a>
                    <a href="#" class="item">用户故事(User Story)</a>
                    <a href="#" class="item">用户故事(User Story)</a>
                </div>
            </div>
            <div class="four wide column">
                <h4 class="class ui inverted header">联系我</h4>
                <div class="class ui inverted link list">
                    <a href="#" class="item">Email: 2360484952@qq.com</a>
                    <a href="#" class="item">QQ: 2360484952</a>
                </div>
            </div>
            <div class="five wide column">
                <h4 class="class ui inverted header">微风</h4>
                <div class="class ui inverted link list">
                    <a href="#" class="item">这是我的个人博客、记录学习进度和关于编程、写作、思考相关的任何内容...</a>
                </div>
            </div>
        </div>
        <div class="ui inverted section divider"></div>
        <p class="m-opacity-tiny">Copyright @ 2020-2021 WeFon Designed by 微风</p>
    </div>

</footer>

<!--/*/<th:block th:replace="_fragments :: script">/*/-->
<script src="../../static/js/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>

<script>
    $('.menu.toggle').click(function (){
        $('.m-item').toggleClass('m-mobile-hide');
    });
    $('.ui.dropdown').dropdown({
        on : 'hover'
    });

</script>

<!--/*/</th:block>/*/-->

</body>
</html>